.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 6rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15rem;
  h1 {
    margin: 0;
  }
}