.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 6rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 15rem;
  h1 {
    margin: 0;
  }
}

.movieSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  display: block;
  position: relative;
  width: 20rem;

  .image {
    position: relative !important;
    object-fit: contain;
    cursor: pointer;
  }
}